* {
    font-family: 'Mulish', sans-serif;

}
body{
    background-color: #2B3042;
    display: inline;

}
h1{
    font-size: 34px;
    font-weight: 400;
    color: #07F49E;
}
/* header styling */
header{
    padding: 25px 25px 0 25px;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
}
#headerSpan{
    font-size: 34px;
    font-weight: 900;

}
/* search section styling */
#stock-search-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
#stock-call-sign {
    width: 400px;
    height: 50px;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
}

#submitBtn {
  align-items: center;
  background-image: linear-gradient(144deg,#07F49E,#42047e);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
  line-height: .9em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

#submitBtn:active,
#submitBtn:hover {
  outline: 0;
}

#submitBtn span {
  background-color: #2B3042;
  padding: 16px 24px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

#submitBtn:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
#search-history{
    list-style: none;
    display: flex;
    justify-content: center;
}
.saved-item{
    padding: 0 5px;
}
.saved-ticker-btn{
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    border: 0;
    letter-spacing: .05rem;
    padding: 0px 15px;
    position: relative;
    background: white;
    overflow: hidden;
    transition: .3s ease-in-out;
    border-radius: .3rem;
    z-index: 1;
}
.saved-ticker-btn:hover{
    transform: scale(1.15);
    color: #07F49E;
    cursor: pointer;

} 
.ticker-name{
    text-transform: uppercase;
}     
#called-stock-container{
    background-color: white;
    width: 100%;
}
/* modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}
.modal-content{
    background-color: white;
    margin: 15% auto; 
    padding: 20px;
    /* border: 1px solid #888; */
    width: 400px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content p{
    font-size: 16px;
    font-weight: 400;
}